$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// font-family: 'Museo Sans 300, 500, 700'
$headings-font-family: "Museo Sans 700";
$font-family-base: "Museo Sans 700";
$nav-link-padding: 2px 0px;
$nav-link-hover-bg: transparent;
$link-color: #686868;
$headings-color: #686868;
$link-hover-color: inherit;

// bower:scss
@import '../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
// endbower

#navigation {
    padding-left: 40px;
    padding-top: 40px;

    @media (min-width: $screen-sm-min) { padding-top: 40px; }
    @media (min-width: $screen-md-min) { padding-top: 200px; }
    @media (min-width: $screen-lg-min) { padding-top: 200px; }

    color: #686868;
    letter-spacing: 1px;

    h4 {
        a:hover {
            text-decoration: none;
        }
    }

    .nav {
        li.active {
            a::before {
                content:"{ ";
            }
            a::after {
                content:" }";
            }
        }


    }
}
